---
pagination:
  data: collections.getCatPages
  size: 1
  alias: catPage
  addAllPagesToCollections: true
permalink: "{% if catPage.pageIndex == 0 %}/category/{{ catPage.cat | slug }}/{% else %}/category/{{ catPage.cat | slug }}/page/{{ catPage.pageIndex + 1 }}/{% endif %}"
layout: list
---
