---
permalink: "{{ site.feed.path }}"
eleventyExcludeFromCollections: true
layout: raw
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.title }}</title>
	<subtitle>{{ site.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ site.feed.path | url | absoluteUrl(site.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ site.url }}"/>
	<updated>{{ collections.articles | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.feed.id }}</id>
	<author>
		<name>{{ site.author.name }}</name>
		<email>{{ site.author.email }}</email>
	</author>
	{%- for post in collections.articles | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
