---
permalink: "{{ site.jsonfeed.path }}"
eleventyExcludeFromCollections: true
layout: raw
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "language": "{{ site.language }}",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.jsonfeed.url }}",
  "description": "{{ site.description }}",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  },
  "items": [
    {%- for post in collections.articles | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
