<div class="block lg:hidden pb-6">
    <a href="https://corinnefreer.com/contact/schedule/" target="_blank" class="spwidget-button text-white" style="color: white !important; font-weight: 400 !important;">Schedule Your Free Consultation</a>
</div>
