<h2>States Where Dr. Votaw-Freer Is Licensed To Practice</h2>
<div class="w-4/5 flex flex-wrap">
    <div class="w-full md:w-1/2 lg:w-1/3">
        <ul class="my-0 py-0">
            <li>Alaska</li>
            <li>Colorado</li>
            <li>Nevada</li>
            <li>Texas</li>
        </ul>
    </div>
</div>

<h2>California</h2>
Dr. Votaw-Freer's application for California licensure is currently pending before the California Board of Psychology. During this period she is authorized to provide psychological services to California residents under Cal. Bus. &amp; Prof. Code &#167; 2946(b), which permits a psychologist licensed in another state to practice while an application for California licensure is in process. California clients are welcome to contact the practice to confirm current licensure status.

<h2>Treatment Available To Clients Living In These PsyPact States</h2>
<div class="w-4/5 flex flex-wrap">
    <div class="w-full md:w-1/2 lg:w-1/3">
        <ul class="my-0 py-0">
            <li>Alabama</li>
            <li>Arizona</li>
            <li>Arkansas</li>
            <li>Connecticut</li>
            <li>Delaware</li>
            <li>District of Columbia</li>
            <li>Florida</li>
            <li>Georgia</li>
            <li>Idaho</li>
            <li>Illinois</li>
            <li>Indiana</li>
            <li>Kansas</li>
            <li>Kentucky</li>
            <li>Maine</li>
        </ul>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
        <ul class="my-0 py-0">
            <li>Maryland</li>
            <li>Michigan</li>
            <li>Minnesota</li>
            <li>Mississippi</li>
            <li>Missouri</li>
            <li>Montana</li>
            <li>Nebraska</li>
            <li>New Hampshire</li>
            <li>New Jersey</li>
            <li>North Carolina</li>
            <li>North Dakota</li>
            <li>Northern Mariana Islands</li>
            <li>Ohio</li>
        </ul>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
        <ul class="my-0 py-0">
            <li>Oklahoma</li>
            <li>Pennsylvania</li>
            <li>Rhode Island</li>
            <li>South Carolina</li>
            <li>South Dakota</li>
            <li>Tennessee</li>
            <li>Utah</li>
            <li>Vermont</li>
            <li>Virginia</li>
            <li>Washington</li>
            <li>West Virginia</li>
            <li>Wisconsin</li>
            <li>Wyoming</li>
        </ul>
    </div>
</div>
