<div class="blog-card group">
    {% include "components/blog/cover.njk" %}
    <div class="blog-card-content">
        {% include "components/blog/topics.njk" %}
        {% include "components/blog/title.njk" %}
        {% include "components/blog/summary.njk" %}
        <div class="flex items-center justify-between mt-4">
            {% include "components/blog/date.njk" %}
            <a class="text-sm capitalize font-medium tracking-[0.06em] text-accent hover:text-brand transition-colors" href="{{ post.url }}">Read More &raquo;</a>
        </div>
    </div>
</div>
