{% if post.data.date %}
    {% set timeStamp = post.data.date %}
{% else %}
    {% set timeStamp = date %}
{% endif %}

<time datetime="{{ timeStamp | htmlDateString }}" class="text-brand-bright text-sm uppercase tracking-[0.08em]">
    {{ timeStamp | postDate }}
</time>
