{% if post.data.date %}
    {% set timeStamp = post.data.date %}
{% else %}
    {% set timeStamp = date %}
{% endif %}

<time datetime="{{ timeStamp | htmlDateString }}" class="text-brand-bright text-xs uppercase tracking-wide">
    {{ timeStamp | postDate }}
</time>
