{% if post.data.categories %}
    {% set categoryList = post.data.categories %}
{% else %}
    {% set categoryList = categories %}
{% endif %}

<ul class="flex flex-wrap gap-2">
    {%- for cat in categoryList -%}
        <li>
            <a href="/category/{{ cat | slug }}/" class="inline-block border border-black rounded-sm text-[11px] uppercase font-medium tracking-wide px-2 py-1 hover:bg-black hover:text-white">{{ categoryLabels[cat] or cat }}</a>
        </li>
    {%- endfor -%}
</ul>
