
<div class="shadow-inner {{ mastImage }} bg-center bg-cover bg-no-repeat py-8 px-2 md:p-12 xl:p-24">

        <div class="container">

        <div class="bg-stone-900/90 p-12 max-w-3xl rounded-md">
            <h1 class="block text-3xl md:text-4xl tracking-tight lg:leading-masthead text-white text-center md:text-left">
                Hey, I'm Corinne.
            </h1>
            
            <h2 class="text-white/90 block text-xl md:text-2xl mt-2 pb-3 border-b border-white/25 text-center md:text-left">
                {{ stateName }} Psychologist &amp; Therapist<br />Insurance Accepted
                </h2>

            <p class="text-lg leading-7 tracking-wide mt-6 block w-full text-white font-normal">
                I provide online therapy for adults and teens throughout {{ stateName }} who are feeling overwhelmed, stuck, emotionally exhausted, or just worn down by the weight of everything they are carrying. Sometimes people come to therapy knowing exactly what is wrong, and sometimes they just know that life feels harder than it should. 
            </p>

             <p class="text-lg leading-7  tracking-wide mt-6 block w-full text-white font-normal">
                Whether you are struggling with trauma, PTSD, anxiety, depression, grief, family conflict, boundary issues, ongoing stress, or a difficult life transition, therapy can give you a place to slow down, make sense of what you are feeling, and start finding a way forward that feels real and sustainable.
            </p>
            <div class="pt-8 max-w-sm">
            {% include "components/global/appointment.njk" %}
            </div>
        </div>   
        
    </div>


 </div>