{% include "components/footer/links.njk" %}


<!-- Copyright -->
<div class="w-full py-4 text-center tracking-wide bg-[#0b0a0a] text-neutral-400 text-sm font-normal">
   <span class="">&copy; {% year %} &middot; {{ site.title }} &middot; All Rights Reserved</span> &middot; <a href="/privacy">Privacy Policy</a>
</div>