{% include "components/footer/links.njk" %}


<!-- Copyright -->
<div class="w-full py-4 text-center tracking-wide bg-white border-t border-black text-brand-bright text-sm font-normal">
   <span>&copy; {% year %} {{ site.title }}. All Rights Reserved.</span> &middot; <a href="/privacy" class="hover:text-black">Privacy Policy</a> &middot; <a href="/terms/" class="hover:text-black">Terms of Use</a>
</div>