{% set titleStyle = "text-base font-medium pb-4 border-b border-white/20 uppercase tracking-wide mb-6" %}

<footer class="bg-[#111010] text-warm-100 py-20" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  
  <div class="container">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">


      <div class="grid grid-cols-1 gap-8 xl:col-span-2">   
        <div class="md:grid md:grid-cols-3 md:gap-12">
          

          <div>
            <h3 class="{{ titleStyle }} mt-10 md:mt-0">Therapy</h3>
            <ul role="list" class="mt-4 space-y-4">

                <li><a href="/therapy/" class="footer-link">Individual Therapy</a></li>
                <li><a href="/therapy/approach/" class="footer-link">Approach &amp; Method</a></li>
                <li><a href="/therapy/treatment/" class="footer-link">Treatment Areas</a></li>
                <li><a href="/therapy/psypact/" class="footer-link">Interstate Therapy</a></li>


            </ul>
          </div>


          <div>
            <h3 class="{{ titleStyle }} mt-10 md:mt-0">Insurance Accepted In</h3>
            <ul role="list" class="mt-4 space-y-4">

                <li><a href="/therapy/alaska/" class="footer-link">Alaska</a></li>
                <li><a href="/therapy/colorado/" class="footer-link">Colorado</a></li>
                <li><a href="/therapy/nevada/" class="footer-link">Nevada</a></li>
                <li><a href="/therapy/texas/" class="footer-link">Texas</a></li>
        
        
        


            </ul>
          </div>




     
        </div>
      </div>

 
    </div>


    </div>
  </div>

  
</footer>
