<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;1,9..144,400;1,9..144,500&family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">

{% if site.analytics.fontAwesomeKit %}
<script src="https://kit.fontawesome.com/{{ site.analytics.fontAwesomeKit }}.js" crossorigin="anonymous"></script>
{% endif %}