<head>
  {% include "components/head/analytics.njk" %}
  {% include "components/head/metagen.njk" %}
  {% include "components/head/favicons.njk" %}
  {% include "components/head/feed.njk" %}
  {% include "components/head/style.njk" %}
  {% include "components/head/fonts.njk" %}
  {% include "components/head/scripts.njk" %}
  {% include "components/head/schema.njk" %}


  {% if loadConversionTag == true %} 


<!-- Event snippet for Submit lead form conversion page --> 
<script>
  gtag('event', 'conversion', {'send_to': 'AW-11118782788/DrVZCLDs4usZEMTS7LUp'});
</script>
{% endif %} 

<!-- Hotjar Tracking Code for corinnefreer.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5347255,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  
</head>