<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if cat | title %}
<title>{{ cat | title }} Articles By {{ site.author.name }}</title>
{% elseif seoTitle %}
<title>{{ seoTitle }}</title>
{% else %}
<title>{{ title }}</title>
{% endif %}



<meta name="author" content="{{ site.author.name }}">
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ title }}">

{% if description %}
    <meta property="og:description" content="{{ description }}">
{% else %}
    <meta property="og:description" content="{{ site.description }}">
{% endif %}

<meta property="og:image" content="{{ site.url + cover }}">
<meta property="og:image:alt" content="{{ title }} Cover Image">

{% if description %}
<meta name="description" content="{{ description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}


{% if keywords %}<meta name="keywords" content="{{ keywords }}"/>{% endif %}
