<script type="application/ld+json">
{% if type == "post" %}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "image": "{{ (site.url + image) if image else site.logo }}",
  "datePublished": "{{ date | htmlDateString }}",
  "author": {
    "@type": "{{ 'Organization' if (author or site.author.name) == site.title else 'Person' }}",
    "name": "{{ author or site.author.name }}"
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo }}"
    }
  },
  "description": "{{ description or site.description }}",
  "keywords": "{{ keywords }}"
}
{% else %}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address.line1 }}, {{ site.address.line2 }}",
    "addressLocality": "{{ site.address.city }}",
    "addressRegion": "{{ site.address.state }}",
    "postalCode": "{{ site.address.zip }}"
  }{% if site.social.instagram %},
  "sameAs": [
    "https://www.instagram.com/{{ site.social.instagram }}"
  ]{% endif %}
}
{% endif %}

{# {% if type == "post" %}
{
  "@context": "https://schema.org",
  "@type": "Article",
  "name": "{{ title }}",
  "url": "{{ url }}"
}
{% endif %} #}
</script>
