{% if type == "post" %}
{%- set authorName = author or site.author.name -%}
{%- set articleUrl = site.url + page.url -%}
{%- set articleImage = (site.url + image) if image else site.logo -%}
{%- set sections = [] -%}
{%- for cat in categories -%}{%- set _ = sections.push(categoryLabels[cat] or cat) -%}{%- endfor -%}
{%- if authorName == site.title -%}
  {%- set authorNode = { "@type": "Organization", "name": site.title, "url": site.url } -%}
{%- else -%}
  {%- set authorNode = { "@type": "Person", "name": authorName, "url": site.url + "/contributors/" } -%}
{%- endif -%}
{%- set schema = {
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": title,
  "description": description or site.description,
  "url": articleUrl,
  "mainEntityOfPage": { "@type": "WebPage", "@id": articleUrl },
  "image": [articleImage],
  "datePublished": (date | htmlDateString),
  "dateModified": ((modified or date) | htmlDateString),
  "author": [authorNode],
  "publisher": {
    "@type": "NewsMediaOrganization",
    "name": site.title,
    "url": site.url,
    "logo": { "@type": "ImageObject", "url": site.logo }
  },
  "articleSection": sections,
  "inLanguage": site.language,
  "isAccessibleForFree": true
} -%}
{%- if keywords %}{% set schema = schema | setAttribute("keywords", keywords) %}{% endif -%}
<script type="application/ld+json">{{ schema | dump | safe }}</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsMediaOrganization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.logo }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address.line1 }}, {{ site.address.line2 }}",
    "addressLocality": "{{ site.address.city }}",
    "addressRegion": "{{ site.address.state }}",
    "postalCode": "{{ site.address.zip }}"
  }{% if site.social.instagram %},
  "sameAs": [
    "https://www.instagram.com/{{ site.social.instagram }}"
  ]{% endif %}
}
</script>
{% endif %}
