{% extends "layouts/base.njk" %}
{% block mainContent %}

    <div class="container grid gap-0 lg:gap-10 grid-cols-12 pt-8 pb-16">
        <div class="p-0 col-span-12 lg:col-span-8">
           <article class="max-w-full">
            <div class="prose prose-lg max-w-none">
               <h1 class="font-heading uppercase tracking-tight text-3xl md:text-4xl pb-8 mb-8 border-b border-black">
                {% if contentTitle %}
                    {{ contentTitle }}
                {% else %}
                    {{ title }}
                {% endif %}
                </h1>
                {{ content | safe }}
                </div>
                {% if formType == "submit-story" %}
                    {% include "components/forms/submit-story.njk" %}
                {% elif showContactForm == true %}
                    {% include "components/forms/general-contact.njk" %}
                {% endif %}
            </article>
        </div>
            {% include "components/section/sidebar.njk" %}
        </div>

{% endblock %}


