{% extends "layouts/base.njk" %}
{% block mainContent %}

    {% include "components/state/mast.njk" %}



    <div class="container grid gap-0 lg:gap-10 grid-cols-12 pt-8">
        <div class="p-0 col-span-12 lg:col-span-8">
           <article class="max-w-full p-8">
            <div class="prose">

                 {{ content | safe }}
                    


            </div>

            </article>
        </div>
            {% include "components/section/sidebar.njk" %}
        </div>


    </div>

{% endblock %}

