<form id="contact" class="max-w-[90%] mt-10" name="{{ site.title }} General Contact" method="POST" data-netlify="true" action="/contact/">

<label for="name" class="hidden" aria-label="Enter Your Name">Your Name:</label>
<input type="text" placeholder="Name" name="name" />

<label for="email" class="hidden" aria-label="Enter Your Email">Your Email:</label>
<input type="email" placeholder="Email" name="email" />

<label for="phone" class="hidden" aria-label="Enter Your Phone Number">Your Phone Number:</label>
<input type="phone" placeholder="Phone" name="phone" />


<label for="message" class="hidden" aria-label="Enter Your Message">How Can I Help?</label>
<textarea placeholder="How Can I Help?" name="message"></textarea>

<button type="submit" class="bg-brand rounded-md text-white px-6 py-3 min-w-[200px]">Send Message</button>

</form>
