<form id="contact" class="max-w-[90%] mt-10" name="{{ site.title }} General Contact" method="POST" data-netlify="true" action="/contact/">

<label for="name" class="hidden" aria-label="Enter Your Name">Your Name:</label>
<input type="text" placeholder="Name" name="name" />

<label for="email" class="hidden" aria-label="Enter Your Email">Your Email:</label>
<input type="email" placeholder="Email" name="email" />

<label for="message" class="hidden" aria-label="Enter Your Message">How Can I Help?</label>
<textarea placeholder="How Can I Help?" name="message"></textarea>

<button type="submit" class="bg-brand hover:bg-accent transition-colors rounded-full text-ivory px-8 py-3 min-w-[200px] capitalize text-sm tracking-[0.1em] font-medium">Send Message</button>

</form>
