<form id="schedule-form" class="max-w-[90%] mt-10" name="Dr. Freer Scheduling Form" method="POST" data-netlify="true" action="/contact/schedule-success">

<label for="name" class="block py-2 font-semibold" aria-label="Enter Your Name">Your Name:</label>
<input type="text" placeholder="Name" name="name" required />

<label for="email" class="block py-2 font-semibold"aria-label="Enter Your Email">Your Email:</label>
<input type="email" placeholder="Email" name="email" required />

<label for="phone" class="block py-2 font-semibold" aria-label="Enter Your Phone Number">Your Phone Number:</label>
<input type="phone" placeholder="Phone" name="phone" required />

<label for="message" class="block py-2 font-semibold" aria-label="Enter Your Message">How Can I Help?</label>
<textarea placeholder="Main area of concern..." name="message"></textarea>

<button type="submit" 
        class="bg-emerald-600 hover:bg-emerald-500 rounded-md text-white poppins px-6 py-3 w-full"
>Continue To Schedule</button>

</form>
