<div class="shadow-inner bg-home-cover bg-top bg-cover py-8 px-2 md:p-20 xl:p-24 text-white font-normal">
    <div class="container">

        <div class="bg-stone-900/80 p-12 max-w-3xl rounded-md">
            <h1 class="block text-3xl md:text-4xl tracking-tight lg:leading-masthead">
                Hi, I'm {{ site.author.firstName }}.
            </h1>

            <h2 class="text-white/75 block text-lg md:text-xl mt-2 pb-4 border-b border-white/25">
                {{ site.tagline }}
            </h2>

            <p class="text-sm md:text-base leading-6 md:leading-7 tracking-wide mt-6 block w-full">
                {{ site.homeIntro }}
            </p>

        </div>   
        
    </div>
</div>