{% set blockStyle = "bg-black/50 p-8 pb-6 inner-shadow col-span-1 shadow-sm rounded-md" %}
{% set buttonStyle = "button mt-8 poppins px-4 py-3 border border-transparent rounded-md shadow-sm text-white bg-black/30 hover:bg-black/50" %}
{% set pStyle = "block text-white/80 leading-7" %}
{% set headingStyle = "font-medium text-xl pb-3 border-b border-white/20 mb-4" %}

<div class="bg-emerald-900 shadow-inner text-white py-10 px-4">
  <div class="container">

    <h2 class="text-3xl font-light pb-4 border-b border-white/10">The Loneliness Pandemic</h2>

    <ul role="list" class="my-6 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    
      <li class="{{ blockStyle }}">
        <h3 class="{{ headingStyle }}">What Is Loneliness?</h3>
        <p class="{{ pStyle }}"> {{ home.home_what_is_loneliness }}</p>
        <button onclick="location.href='/loneliness/what-is-loneliness/'" type="button" class="{{ buttonStyle }}">Read More &raquo;</button>
      </li>

      <li class="{{ blockStyle }}">
        <h3 class="{{ headingStyle }}">Signs of Loneliness</h3>
        <p class="{{ pStyle }}">{{ home.home_signs_of_loneliness }}</p>
        <button onclick="location.href='/loneliness/signs-of-loneliness/'" type="button" class="{{ buttonStyle }}">Read More &raquo;</button>
      </li>

      <li class="{{ blockStyle }}">
        <h3 class="{{ headingStyle }}">Undoing Loneliness</h3>
        <p class="{{ pStyle }}">{{ home.home_undoing_loneliness }}</p>
        <button onclick="location.href='/loneliness/undoing-loneliness/'" type="button" class="{{ buttonStyle }}">Read More &raquo;</button>
      </li>

      <li class="{{ blockStyle }}">
          <h3 class="{{ headingStyle }}">How To Help</h3>
          <p class="{{ pStyle }}">{{  home.home_how_to_help }}</p>
          <button onclick="location.href='/loneliness/how-to-help/'" type="button" class="{{ buttonStyle }}">Read More &raquo;</button>
      </li>
    </ul>

  </div>
</div>