<div class="bg-white py-8 md:py-10 shadow-md shadow-stone-100 mb-2">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-xl font-medium leading-8 text-gray-900">Featured On &amp; In</h2>
    <div class="mx-auto mt-6 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1" src="/assets/images/trust/everyday-health.png" alt="Everyday Health" width="225" height="56">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/trust/kutv.png" alt="KUTV" width="250" height="53">
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="/assets/images/trust/medium.png" alt="Medium" width="250" height="70">
    </div>
  </div>
</div>
