<div class="items-center hidden lg:flex">
    {% macro renderNavListItem(entry) %}
        <li{% if entry.children %} class="group"{% endif %}>
            {% if entry.children %}
                <a href="javascript:void(0)">{{ entry.title }}</a>
            {% else %}
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            {% endif %}

            {% if entry.children %}
                <ul class="absolute hidden group-hover:block bg-white border border-black z-50 border-b-0 border-t-0 shadow-md">
                {% for child in entry.children %}
                    <li><a href="{{ child.url | url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}
    <ul class="main-navigation">
        {%- for entry in nav %}
            {{ renderNavListItem(entry) }}
        {%- endfor %}
    </ul>
</div>
