{% include "components/header/off-canvas.njk" %}
<header class="sticky top-0 bg-white z-50">
<nav x-data="{ open: false }" role="navigation" aria-label="Main Menu">
<div class="container">
    <div class="flex items-center justify-between h-16">

    <div class="flex-shrink-0">
        {% include "components/global/logo.njk" %}
    </div>

    <a href="/contact/" class="hidden sm:inline-block bg-black text-white text-sm font-medium uppercase tracking-wide rounded px-6 py-3">Contact</a>

    </div>

</div>
<div class="container border-t border-black">
    <div class="flex items-center justify-between h-16">
    {% include "components/header/desktop-links.njk" %}
    {% include "components/header/mobile-button.njk" %}
    </div>
</div>
</nav>
</header>
