<div class="bg-black">
    <div class="container">
        <ul class="flex items-center gap-6 py-2 text-xs uppercase tracking-wide overflow-x-auto">
            <li><a href="/all-means-all/" class="text-white/80 hover:text-white whitespace-nowrap">All Means All</a></li>
            <li><a href="/contributors/" class="text-white/80 hover:text-white whitespace-nowrap">Contributors</a></li>
            <li><a href="/submit-a-story/" class="text-white/80 hover:text-white whitespace-nowrap">Submit A Story</a></li>
        </ul>
    </div>
</div>
