<div class="bg-neutral-900/95">
    <div class="container pl-0">

        <div class="flex flex-wrap items-center">

            <div class="w-2/3 sm:w-1/2 overflow-hidden">
                {% if site.clientPortalUrl %}
                <a href="{{ site.clientPortalUrl }}" class="inline-flex text-neutral-100 text-xs text-center p-4 px-6 leading-none font-medium uppercase" target="_blank">Client Portal</a>
                {% endif %}
            </div>

            <div class="w-1/3 sm:w-1/2 overflow-hidden text-right">
                  {% include "components/global/social-icons.njk" %}
            </div>
        
        </div>
        
    </div><!-- End Container -->
</div><!-- End Top Bar-->